{% extends 'base.html.twig' %}

{% block title %} my work {% endblock %}

{% block body %}

    <div class="title_container">
        <div class="title_content">
            <div class="line"></div>
            <h1>My work</h1>
            <div class="line"></div>
        </div>
    </div>

        <div class="project1">
            <a href="http://agomez.site/webagency/">
                <div class="banner">
                    <div class="slider">
                        <figure>
                            <img class="image" src="{{ asset('images/projet1.jpg') }}" alt="page web"/>
                            <img class="image" src="{{ asset('images/projet1bis.jpg') }}" alt="page web"/>
                            <img class="image" src="{{ asset('images/projet1.jpg') }}" alt="page web"/>
                        </figure>
                    </div>
                    <div class="overlay">
                        <i class="far fa-eye eye_overlay"></i>
                        <p>Visit the website</p>
                    </div>
                </div>
            </a>
            <div class="description">
                <a href="http://agomez.site/webagency/"><h2>Project 1 : Creating a website from a mock-up design</h2></a>
                <p>
                    The aim of the project was to only use HTML and CSS languages with a focus on responsive web design and Medias Queries.</br>
                    This project enable me to acquire knowledge in HTML5 and CSS3. Through this work I developed abilities in problem solving and time management. I learned the importance of having a code structure to work with efficiency.
                </p>

            </div>
        </div>

        <div class="project2">
            <a href="https://www.agomez.site/officetourisme/">
                <div class="banner">
                    <div class="slider">
                        <figure>
                            <img class="image" src="{{ asset('images/projet2.jpg') }}" alt="page web"/>
                            <img class="image" src="{{ asset('images/projet2bis.jpg') }}" alt="page web"/>
                            <img class="image" src="{{ asset('images/projet2.jpg') }}" alt="page web"/>
                        </figure>
                    </div>
                    <div class="overlay">
                        <i class="far fa-eye eye_overlay"></i>
                        <p>Visit the website</p>
                    </div>
                </div>
            </a>
            <div class="description">
                <a href="https://www.agomez.site/officetourisme/"><h2 class="brown">Project 2 : Creating a WordPress website</h2></a>
                <p>
                    The aim of the project was to use the CMS WordPress in order to answer a client's need. Design and content choices were left to the free choice of students.</br>
                    For this work I used the Mesmerize theme and the following plugins: Yoast SEO, Events Manager, TablePress and Ninja Forms.
                    This project makes me build a website using a "customer first" way. I also implemented an SEO approach.
                </p>
            </div>
        </div>

        <div class="project3">
            <a href="https://www.agomez.site/locationvelos/">
                <div class="banner">
                    <div class="slider">
                        <figure>
                            <img class="image" src="{{ asset('images/projet3.jpg') }}" alt="page web"/>
                            <img class="image" src="{{ asset('images/projet3bis.jpg') }}" alt="page web"/>
                            <img class="image" src="{{ asset('images/projet3.jpg') }}" alt="page web"/>
                        </figure>
                    </div>
                    <div class="overlay">
                        <i class="far fa-eye eye_overlay"></i>
                        <p>Visit the website</p>
                    </div>
                </div>
            </a>
            <div class="description">
                <a href="https://www.agomez.site/locationvelos/"><h2 class="brown">Project 3 : Building an interactive bike rental map</h2></a>
                <p>The aim of the project was to build a single page application using JavaScript and JQuery. The customer must be able to sign in order to confirm his booking.</br>
                    This project enable me to learn languages that bring dynamism and logic. I used the API LeafletJS (<a class="underline" href="https://leafletjs.com/">https://leafletjs.com/</a>), a web service from JC Decaux (<a class="underline" href="https://developer.jcdecaux.com/#/home">https://developer.jcdecaux.com/#/home</a>) and the Web Storage API.
                </p>
            </div>
        </div>

        <div class="project4">
            <a href="https://agomez.site/blog/public/index.php">
                <div class="banner">
                    <div class="slider">
                        <figure>
                            <img class="image" src="{{ asset('images/projet4.jpg') }}" alt="page web"/>
                            <img class="image" src="{{ asset('images/projet4bis.jpg') }}" alt="page web"/>
                            <img class="image" src="{{ asset('images/projet4.jpg') }}" alt="page web"/>
                        </figure>
                    </div>
                    <div class="overlay">
                        <i class="far fa-eye eye_overlay"></i>
                        <p>Visit the website</p>
                    </div>
                </div>
            </a>
            <div class="description">
                <a href="https://agomez.site/blog/public/index.php"><h2 class="brown">Project 4 : Designing and building a blog for a writer</h2></a>
                <p>
                    The aim of the project was to build a blog for a writer. Visitors have to be able to log in and to write down comments on each chapters. The writer must be able to manage comments and to publish chapters as for a blog.</br>
                    This work enable me to acquire knowledge in various languages such as PHP and to implement a database logic with forms and SQL requests. I used Adobe XD for the design of the website, Twig for more security and efficiency and the WYSIWYG interface TinyMCE.
                </p>
            </div>
        </div>


{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/work.css') }}">
{% endblock %}